*{
  margin: 0;
  padding: 0;
  font-family: 'Acme', sans-serif;
}
body{
  background-color: #0a3d62;
}
.container{
  width: 70%;
  margin: auto;
  text-align: center;
}
.container .dice{
  text-align: center;
  display: inline-block;
}

h1{
  margin: 30px;
  text-shadow: 5px 0 white;
  font-size: 6rem;
  color: #f6b93b;
}
p{
  font-size: 2rem;
  color : #00b894;
  text-shadow: 1px 1px white;
}
button{
  padding: 10px;
  background-color: #00b894;
  border: none;
  color: white;
}

img{
  width: 50%;
}

@media screen and (max-width: 480px) {
  h1{
  font-size: 2.5rem;}
  p{font-size: 1rem;}
  .container .dice{text-align: center; display: inline-block;}
  img{width: 25%;}
  button{font-size: 0.5rem; padding: 5px;}
}